* {
  color: white;

}
.HomePage {
  text-align: center;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.data-amplify-router{
  background-color: red;
}



.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Header */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 30em;
  --primary-color: #457D83;
  --secondary-color: #39204A;
  --tertiary-color: #512C57;
  --quaternary-color: #9ABA86;
  --fifth-color: #E0EFC8;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background-color: rgb(27, 26, 26);
}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://images.unsplash.com/photo-1646318714711-634343006dbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) no-repeat center,
		linear-gradient(rgb(27, 26, 26), #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 10rem 0 0 4.5rem;
	/* text-shadow: .022em .022em .022em #111; */
	color: white;
}

/* AddAward */

.createpage {
  text-align: center;
  margin-top: -10vh;

}

.createform {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  column-gap: 20vw;
  row-gap: 2vh;
  margin-top: 3vh;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 10vh;
}
.forminputfield {
  font-family: inherit;
  width: 80vw;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1rem;
  color: white;
  background: transparent;
  transition: border-color 0.2s;
}
.forminputfield:focus {


    font-size: 1rem;
    color: white;
    font-weight:700;    
  }
.typedropdown {

    font-family: inherit;
    width: 20vw;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1rem;
    color: white;
    background: transparent;
    transition: border-color 0.2s;
  
}
.typedropdown option {
  background-color: black;
}
.typedropdown:option:invalid {
  color: gray
}

/* Show Awards Dash */
.AwardsShow {
  padding-left: 20vw;
  padding-right: 20vw;



}
.awardshowtop {

  display: flex;
  justify-content: space-between;
}
.awardshowtopitem {
  margin-top: -5vh;
  margin-left: 10vw

}
.showawardsdash {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;


}
.awardsdashitem {
  text-align: center;
  flex: 1;
  flex-basis: 30%;
  background-color: var(--primary-color);


  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(231, 214, 214, 0.06) 0px 0px 0px 1px;  margin: 1vh
}
/* Show Award */
.awardwrapper {
}
.showawarddash {
  /* margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap; */
  padding-bottom: 10vh


}
.awarddashitem {
  text-align: center;
}





/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(27, 26, 26);; /* Fallback color */
  background-color: rgb(27, 26, 26);; /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}



@media screen and (max-width:1300px) {
  .awardwrapper {
    width: 60vw
  }
  .button1 {
    font-size: 60%;


  }
  .button2 {
    font-size: 60%
  }
  .button3 {
    font-size: 60%
  }
  .awardshowtopitem {
    margin-top: -5vh;
    margin-left: -7.5vw
  
  }
}